html,body {
	/* overflow: hidden */
	/* background-color: #232323; */
}
*{
	margin: 0;
	padding: 0;
	/* border: 2px solid #000; */
	/* position: absolute; */
	box-sizing: border-box;
	/* top: 20px */
}
.full-height {
	height: 100vh;
	width: 100%;
	/* 必须相对定位，不然section会重合 */
	/* position: relative; */
	
}

/* section1 */
	.bg {
		position: fixed;
		top: 0;
		left: 0;
		background: url('../images/bg.png');
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 100%;
		z-index: -999;
	}
	img {
		width: 70px;
	}
	.sns img {
		width: 50px;
		height: 50px;
	}
	.top {
		position: absolute;
		top: 5%;
		/* border: 1px solid red; */
		height: 50px;
		width: 100%;
		display: inline-block;
	}

	.top #jtbc {
		position: fixed;
		margin-left: 5%;
		width: 110px;
	}
	.top 
	#pyramid {
		/* border: 1px solid #000; */
		position: absolute;
		right: 5%;
		z-index: 999;
		width: 100px;
		height: 100px;
	}
	
	.title {
		position: fixed;
		top: 5%;
		left: 50%;
		transform: translateX(-50%);
		height: 50px;
		/* border: 1px solid #fff; */
		/* display: block; */
	}
	.title #btitle {
		display: block;
		margin-top: 20px;
		width: 380px;
	}
	.title #stitle {
		display: block;
		width: 220px;
		margin: 20px auto;
		z-index: 1999
	}
	.person {
		/* border: 1px solid #000; */
		position: fixed;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		width: 1500px;
		height: 960px;
		overflow: hidden
	
	}
	.person #per3 img{
		position: absolute;
		bottom: -510px;
		left:750px;
		width: 1170px;
		transform: translateX(-50%);
		/* height: 870px; */
	}
	.person #per2 img {
		position: absolute;
		bottom: -510px;
		width: 1019px;
		left:744px;
		transform: translateX(-50%);
		/* height: 870px; */
	}
	.person #pshadow {
		position: absolute;
		width: 961px;
		height: 981px;
		left: 420px;
		top: 10px;
		/* z-index: 999; */
		/* border: 1px solid #000; */
		opacity: 0.14
	}
	.intro {
		position: fixed;
		left: 11%;
		bottom: 25%;
		font-size: 19px;
		font-family: "AppleMyungjo";
		line-height: 50px;
		
		letter-spacing: 2px;
		background-image: url(../images/gradient.png);
		background-position: 0px 0px;
		-webkit-background-clip: text;
		background-clip: text;
		/* color: transparent; */
		color: #ffface
	}
	.intro span {
		/* 注意！inline时不能设置tweenmax x,y */
		display: inline-block;
	}
	/* intro浮现  */
		span.oneword:nth-child(1){
			animation: letter-glow 0.7s 0s ease both;
			animation-delay: 0;
			opacity: 0;
			animation-delay: 5.12s
		}
		span.oneword:nth-child(2){
			animation: letter-glow 0.7s 0s ease both;
			animation-delay: 0;
			opacity: 0;
			animation-delay: 5.24s
		}
		span.oneword:nth-child(4){
			animation: letter-glow 0.7s 0s ease both;
			animation-delay: 0;
			opacity: 0;
			animation-delay: 5.36s
		}
		span.oneword:nth-child(5){
			animation: letter-glow 0.7s 0s ease both;
			animation-delay: 0;
			opacity: 0;
			animation-delay: 5.48s
		}
		span.oneword:nth-child(7){
			animation: letter-glow 0.7s 0s ease both;
			animation-delay: 0;
			opacity: 0;
			animation-delay: 5.6s
		}
		span.oneword:nth-child(8){
			animation: letter-glow 0.7s 0s ease both;
			animation-delay: 0;
			opacity: 0;
			animation-delay: 5.72s
		}
		span.oneword:nth-child(10){
			animation: letter-glow 0.7s 0s ease both;
			animation-delay: 0;
			opacity: 0;
			animation-delay: 5.84s
		}
		
		span.oneword:nth-child(11){
			animation: letter-glow 0.7s 0s ease both;
			animation-delay: 0;
			opacity: 0;
			animation-delay: 5.96s
		}
		span.oneword:nth-child(12){
			animation: letter-glow 0.7s 0s ease both;
			animation-delay: 0;
			opacity: 0;
			animation-delay: 6.08s
		}
		span.oneword:nth-child(13){
			animation: letter-glow 0.7s 0s ease both;
			animation-delay: 0;
			opacity: 0;
			animation-delay: 6.2s
		}
		
		span.oneword:nth-child(14){
			animation: letter-glow 0.7s 0s ease both;
			animation-delay: 0;
			opacity: 0;
			animation-delay: 6.32s
		}
		span.oneword:nth-child(15){
			animation: letter-glow 0.7s 0s ease both;
			animation-delay: 0;
			opacity: 0;
			animation-delay: 6.5s
		}
		span.oneword:nth-child(16){
			animation: letter-glow 0.7s 0s ease both;
			animation-delay: 0;
			opacity: 0;
			animation-delay: 6.66s
		}
		span.oneword:nth-child(18){
			animation: letter-glow 0.7s 0s ease both;
			animation-delay: 0;
			opacity: 0;
			animation-delay: 6.8s
		}
		span.oneword:nth-child(19){
			animation: letter-glow 0.7s 0s ease both;
			animation-delay: 0;
			opacity: 0;
			animation-delay: 7s
		}
		span.oneword:nth-child(20){
			animation: letter-glow 0.7s 0s ease both;
			animation-delay: 0;
			opacity: 0;
			animation-delay: 7.2s
		}
		span.oneword:nth-child(21){
			animation: letter-glow 0.7s 0s ease both;
			animation-delay: 0;
			opacity: 0;
			animation-delay: 7.35s
		}
		span.oneword:nth-child(23){
			animation: letter-glow 0.7s 0s ease both;
			animation-delay: 0;
			opacity: 0;
			animation-delay: 7.5s
		}
		span.oneword:nth-child(24){
			animation: letter-glow 0.8s 0s ease both;
			animation-delay: 0;
			opacity: 0;
			animation-delay: 7.6s
		}
		span.oneword:nth-child(25){
			animation: letter-glow 0.9s 0s ease both;
			animation-delay: 0;
			opacity: 0;
			animation-delay: 7.7s
		}
		span.oneword:nth-child(26){
			animation: letter-glow 0.2s 0s easeIn both;
			animation-delay: 0;
			opacity: 0;
			animation-delay: 7.8s
		}
		
		@keyframes letter-glow{
			 0%   { opacity: 0; text-shadow: 0px 0px 1px rgba(255,255,255,0.1)}
			 66%  { opacity: 1; text-shadow: 0px 0px 20px rgba(255,255,255,1) }
			 77%   { opacity: 1;  }
			 100% { opacity:0.9; text-shadow: 0px 0px 20px rgba(255,255,255,0.6)}
		}
	
	.onair {
		position: fixed;
		right: 5%;
		bottom: 30%;
		font-family: "Baskerville Old Face"
	}
	.onair h3 {
		font-size:18px;
		letter-spacing: 5px;
		line-height: 50px
	}
	.onair h2 {
		font-size: 25px;
		letter-spacing: 8px
	}
	.sns {
		/* border: 1px solid #000; */
		height: 150px;
		width: 40px;
		position: fixed;
		right: 5.5%;
		bottom: 15%;
	
	}
	.sns a {
		display: block;
		/* border: 1px solid yellow; */
		position: relative;
		width: 37px;
		height: 37px;
		margin-top: 25px
		
	}
	.sns a img {
		position: absolute;
		left: 0;
		top: 0;
		width: 35px;
		height: 35px;
	}
	.scrolldown {
		position: fixed;
		right: 5%;
		top: 100px;
		transform: translateX(-50%);
		/* border: 1px solid #000; */
		/* animation: quiver 0.2s infinite ease; */
	}
	.scroll-line {
	    height: 50px;
	    border-left: #fff dashed 2px;
	    position: relative;
	    left: 50%;
	    transform-origin: center top;
		/* animation: quiver2 16s infinite ease-in-out; */
		animation-delay:11s;
	}
	
	.scroll-line h6 {
	    position: relative;
	    display: inline-block;
	    transform: translateX(-50%);
	    top: 50px;
	    color: white;
	    font-family: "Cutive-Mono";
	    font-size: 15px;
	    /* animation: quiver1 16s infinite ease-in-out; */
	    animation-delay:11s;
	  
	}
	
	
	@keyframes quiver1{
		0% {
			transform: translate(-50%);
			opacity: 1
		}
		25% {
			transform: translate(-50%,25%);
			opacity: 1
		}
		50% {
			transform: translate(-50%,-15%);
			opacity: 0.5;
		}
		75% {
			transform: translate(-50%,25%);
			opacity: 1 
		}
		100% {
			transform: translate(-50%);
			opacity: 1
		}
	}
	@keyframes quiver2{
		0% {
			transform: translateY(0);
	
		}
		25% {
			transform: translateY(5%);
			
		}
		50% {
			transform: translateY(-5%);
			
		}
		75% {
			transform: translateY(5%);
			
		}
		100% {
			transform: translateY(0);
			
		}
	}

/* section2 */
	.section2 {
		background: #232323;
		opacity: 0
	}

	.top2 {
		position: absolute;
		top: 5%;
		/* border: 1px solid red; */
		height: 50px;
		width: 100%;
		display: inline-block;
	}
	.top2 #jtbc {
			
			margin-left: 5%;
			width: 110px;
	}
	.top2 #stitle {
		/* border: 1px solid #000; */
		position: absolute;
		left: 50%;
		top: 107px;
		transform: translateX(-50%);
		display: block;
		width: 220px;
		margin: 20px auto;
		z-index: 1999
	}
	.nav {
		position: absolute;
		top: 5%;
		/* border: 1px solid red; */
		height: 50px;
		display: inline-block;
		margin-right: 60px;
		margin-left: 100px
	}
	.nav a {
		position: relative;
		display: inline-block;
		width: 80px;
		height: 35px;
		text-decoration: none;
		color: #8b7b3a;
		font-size: 19px;
		font-family: "AppleMyungjo";
		margin:20px 85px;
		line-height: 35px;
		text-align: center;
		/* border: 1px solid #fff; */
		
		/* background-color: white; */
		transition: all 1s ;
	}

	.nav a::before, .nav a::after {
	  content: '';
	  display: block;
	  position: absolute;
	  top: 15px;
	  width: 0px;
	  height: 1px;
	  background: #f6edb8;
	}
	
	.nav a::before {
		background-color: red;
		left: -1.5px;

	}
	.nav a::after {
	  background: #f6edb8;
	  right: 1.5px;
	  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
	}
	
	.nav a:hover::before {
	  background: #f6edb8;
	  width: 80px;
	  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
	}
	
	.nav a:hover::after {
	  background: transparent;
	  width: 80px;
	  transition: 0s;
	}
	.section2 .top2 .nav a:hover{
		/* color: yellow; */
		/* font-size: 22px; */
		letter-spacing: 4px;
		color: #f0e0a1;
		font-size: 22px;

		/* background-color: #333; */
		/* border-bottom: 1px double #666; */
		transition: all 0.4s ease-out,
		letter-spacing 0.2s

	
	}
	.nav a.current {letter-spacing: 4px;
		color: #f0e0a1;
		font-size: 22px;}

	.profile {
		/* border: 1px solid #fff; */
		width: 100%;
		height: 82.5%;
		position: absolute;
		bottom: 0;
	}
	.profile #proimg {
		position: absolute;
		/* border: 1px solid yellow; */
		top: 0;
		left: 0;
		/* width: 700px; */
		width: 42%;
		height: 100%;
		/* filter: url(#distortionFilter); */
	}
	.distort {
		filter: url(#distortionFilter);
	}
	#proimg img {
		position: absolute;
		width: 715px;
		top: -33px;
		left: 0;
		/* border: 1px solid green; */
	}
	.profile #prointro {
		/* border: 1px solid red; */
		width: 67.9%;
		height: 100%;
		position: absolute;
		right: 15px;

	}
	.profile #cast {
		position: absolute;
		/* border: 1px solid #fff; */
		width: 167px;
		height: 100px;
		left: 0;
		top: 40px;
	}
	#cast h2 {
		font-family: "AppleMyungjo";
		color: #dcbf20;
		font-size: 47px;
		font-weight: 100;
		letter-spacing: 8px;
	}
	#cast h4 {
		position: absolute;
		display: inline-block;
		height: 19px;
		/* border: 1px solid white; */
		font-family: "AdobeGothicStd-Bold";
		font-size: 17px;
		color: #232323;
		letter-spacing: 5px;
		top: 60px;
		line-height: 20px;
		border-radius: 1px;
		font-weight: 900;
		right: 0;
		padding-left: 5px;
		margin-right: 13px;
		background-color: #dcbf20;
	}
	#prointro #castintro {
		/* border: 1px solid #000; */
		width: 850px;
		margin-top: 170px;
		margin-left: 100px;
		color: #635b35;
		font-family: "DXKPMStd";
		letter-spacing: 3.5px;
		font-size: 16px;
		line-height: 42px
	}
	#prointro #dialog {
		display: inline-block;
		/* border: 1px solid #000; */
		/* width: 800px; */
		margin-top: 70px;
		margin-left: 170px;
		font-size: 30px;
		font-family: "NanumMyeongjo";
		text-align: center;
		letter-spacing: 5px;
		background: url('../images/dialobg.png') no-repeat;
		background-size: cover;
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
		opacity: 1
	}
	#dialog::before {
		position:relative;
		content:"\“";
		top: -30px;
		left: -10px;
		color: white;
		font-family: "Trattatello"
	}
	#dialog::after {
		position:relative;
		content:"\”";
		right: -10px;
		bottom: -40px;
		color: white;
		font-family: "Trattatello"
	}
	#botlogo {
		/* border: 1px solid #000; */
		/* display: inline-block; */
		position: absolute;
		right: 3%;
		bottom: 8%;
		/* animation: float   */
	}
	#botlogo img{
		width: 120px;
	}
	
	/* @float  */
svg {
	position: absolute;
	display: none;
}




@font-face {
    font-family: 'AdobeGothicStd-Bold';
    src: url(../fonts/AdobeGothicStd-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AppleMyungjo';
    src: url(../fonts/AppleMyungjo.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumMyeongjo';
    src: url(../fonts/NanumMyeongjo-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'DXKPMStd';
    src: url(../fonts/DXKPMStd-B.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville Old Face';
    src: url(../fonts/baskervilleoldface.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cutive-Mono';
    src: url(../fonts/Cutive-Mono.ttf);
    font-weight: normal;
    font-style: normal;
}



